---
import Main from '../layouts/Main.astro';
import ItemCEO from '../components/ItemCEO.astro';
---
<Main>
  <div class="col-span-2 grid grid-cols-2 gap-x-4 gap-y-16">
    <ItemCEO name="Andrew Howard" portrait="ceos/andrew.png" icon="ceos/icon-lockchain.png">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCEO>
    <ItemCEO name="Jimmy Hatzell" portrait="ceos/jimmy.png" icon="ceos/icon-hatz.png">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCEO>
    <ItemCEO name="Andrew Howard" portrait="ceos/andrew.png" icon="ceos/icon-lockchain.png">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCEO>
  </div>

</Main>
