---
import Main from '../layouts/Main.astro';
import ItemCEO from '../components/ItemCEO.astro';
import ItemCompany from '../components/ItemCompany.astro';
import SideLink from '../components/SideLink.astro';
---
<Main>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <div class="mb-6 text-neutral-400 text-3xl leading-[1.0] font-medium tracking-[-0.03em]">Nadia <br /><span class="text-black">AI</span><br />Partners</div>
      <!-- <a href="/infrastructure" class="text-neutral-400 underline mb-6">Learn more</a> commenting out for now -->
    </div>
    <ItemCompany name="Lockchain" description="AI-powered risk management for blockchain." image="companies/lockchain.png">
      <p class="pb-2">For institutional firms to invest in digital assets, there must be a way to navigate and react to risks in the space — and there are many. 
      </p>
      <p class="pb-2">
      Launched in partnership with veteran cyber security CEO <a href="https://www.linkedin.com/in/ahow/" class="bodylink">Andrew Howard</a>, Lockchain has built a breakthrough proprietary data model powered by AI. It enables any financial institution, analyst, or trader to monitor risks across the entire crypto ecosystem, and set up notifications and automations based on those events.</p>
      <a href="https://lockchain.ai" class="inline bodylink">Visit the website</a>
    </ItemCompany>
    <ItemCompany name="Hatz AI" image="companies/hatz.png">
      <p class="pb-2">As small businesses begin increasingly to turn to their IT providers for help adopting new AI and LLM technologies into their workflows, Hatz is a multi-product platform that allows these same IT providers to become AI providers themselves.</p>
      <p class="pb-2">Operated by CEO <a href="https://www.linkedin.com/in/hatzell/" class="bodylink">Jimmy Hatzell</a>, Hatz AI is powered by an LLM Ops engine called Mido, and allows for mult-tenant management through an MSP administration dashboard. Partner MSPs can quickly add Hatz to their offering to manage AI as a service to their clients.</p>
      <a href="https://hatz.ai" class="inline bodylink">Visit the website</a>
    </ItemCompany>
    <ItemCompany name="AI First" image="companies/aifirst.png" class="min-h-48">
      <p class="pb-2">Most companies don't have an AI strategy and struggle to implement them when they do because of skills shortages and challenges preparing their own data and systems. AI First holds their hands along the journey and co-creates their AI intellectual property in ongoing partnerships, and advises clients on how to build breakthroughs in enterprise value in industries where AIs impact can have the largest impact.</p>
      <p class="">AI First officially launches in the Summer of 2024.</p>
    </ItemCompany>
    <ItemCompany name="Talli" image="companies/talli.png" class="min-h-48">
      <p class="pb-2">The class action sector has billions of dollars it distributes every year yet is starved of the technology that is needed to automate and enable a great customer experience. Talli solves the problem for law firms and claims managers with a purpose-built automation system built on the strongest language models trained for the purpose.</p>
    </ItemCompany>
  </div>
  <div class="flex flex-col gap-2">
    <div class="max-md:pt-6 mb-6 text-neutral-400 text-3xl leading-[1.0] font-medium tracking-[-0.03em]">Nadia <br /><span class="text-black">Infrastructure</span><br />Partners</div>
    <ItemCompany name="Dromore Energy" image="companies/dromore.png" class="min-h-48">
    <p class="pb-2">Canada is tracking behind both the United States and Europe in renewable energy developments, a gap most apparent in Alberta. The deregulated electricity market in the province leaves a great opportunity to originate, build, own, and operate utility-scale assets in the region.</p>
    <p class="pb-2">
    Dromore Energy has already reached significant scale with more developments in the pipeline, with an aim to expand significantly in both Alberta and British Columbia. Powered by his experience developing more than 600MWH of energy storage assets in Ireland, CEO Joseph Shovlin is leading Dromore to be a leading renewable energy projects developer.
    </p>
      <a href="https://dromoreenergy.com" class="inline bodylink">Visit the website</a>
    </ItemCompany>
    <ItemCompany name="Beacon Digital Infrastructure" image="companies/beacon.png" class="min-h-48">
      <p class="pb-2">Beacon is building the digital infrastructure that allows AI and cloud technology companies to scaly massively, starting with the build out of a 1,600MWH-powered data center.</p>
    </ItemCompany>
    <ItemCompany name="In stealth: Energy-as-a-service" image="companies/coming-soon.png" class="min-h-48">
      <p class="pb-2">As grid stability becomes a larger-scale problem in the United States, corporations aim to own more of their own sources of affordable renewable energy. With new technology and energy developments, it becomes possible to offer this as a service.</p>
    </ItemCompany>
  </div>
</Main>
