---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ItemCompany from '../components/ItemCompany.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pb-20 max-w-6xl mx-auto p-5">
      <div class="flex flex-col gap-0 text-3xl font-medium text-neutral-400 tracking-[-0.02em] *:transition *:duration-300">
        <a href="/ceos" class="hover:text-black border-none">CEOs</a>
        <a href="/companies" class="hover:text-black border-none">Companies</a>
        <a href="/letters" class="hover:text-black border-none">Letters</a>
      </div>
      <div class="col-span-2 grid lg:grid-cols-2 gap-4">
        <ItemCompany name="Lockchain" image="companies/lockchain.jpg">
          <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
        </ItemCompany>
        <ItemCompany name="Dromore Energy" image="companies/dromore.png">
          <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
        </ItemCompany>
        <ItemCompany name="Hatz" image="companies/hatz.png">
          <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
        </ItemCompany>
      </div>
		</main>
		<Footer />
	</body>
</html>
