---
import Main from '../layouts/Main.astro';
import ItemCEO from '../components/ItemCEO.astro';
import ItemCompany from '../components/ItemCompany.astro';
import SideLink from '../components/SideLink.astro';
---
<script is:inline>
  function showContent(id) {
    var contents = document.getElementsByClassName('content');
    for (var i = 0; i < contents.length; i++) {
      contents[i].style.display = 'none';
    }
    document.getElementById(id).style.display = 'grid';
  }
</script>
<Main>
  <div class="flex flex-col gap-0 text-3xl font-medium text-neutral-400 tracking-[-0.02em] *:transition *:duration-300">
    <div class="hover:cursor-pointer hover:text-black" onclick="showContent('content1')">CEOs</div>
    <div class="hover:cursor-pointer hover:text-black" onclick="showContent('content2')">Companies</div>
    <div class="hover:cursor-pointer hover:text-black" onclick="showContent('content3')">Letters</div>
  </div>

  <div id="content1" class="content col-span-2 grid grid-cols-1 md:grid-cols-2 gap-x-4 md:gap-y-16 gap-y-6 max-md:mt-8">
    <ItemCEO name="Andrew Howard" portrait="ceos/andrew.png" icon="ceos/icon-lockchain.png">
      <p class="pb-3">Security veteran and entrepreneur Andrew Howard founded <a href="https://lockchain.ai" class="bodylink">Lockchain</a> after serving as CEO and CTO for global cybersecurity firm Kudelski Security. 
      </p>
      <p class="pb-3">
    Prior to Kudelski, Andrew led a University Affiliated Research Center (UARC) at Georgia Tech focused on cybersecurity, one of only 16 U.S. Defense Department-protected applied R&D facilities. 
      </p>
      <p>
    He served twice on the World Economic Forum’s Global Futures Council on cybersecurity and was named to the Georgia Tech 40 Under 40 Alumni List in 2022.</p>
    </ItemCEO>
    <ItemCEO name="Jimmy Hatzell" portrait="ceos/jimmy.png" icon="ceos/icon-hatz.png">
      <p class="pb-3">Jimmy has worked in the IT industry for his entire career, having built products like CyberQP and directed marketing for Barracuda MSP and SKOUT Cybersecurity. Both his hard-earned expertise in the industry and his ties to the MSP community itself make him an uncommonly effective CEO.</p>
      <p class="">He is the eponymous founder of <a href="https://hatz.ai" class="bodylink">Hatz</a>, a solution that allows MSPs to offer AI to their clients, within their existing offerings, without repeating setup costs across providers.</p>
    </ItemCEO>
    <ItemCEO name="Joseph Shovlin" portrait="ceos/ceo-joseph.png" icon="ceos/icon-dromore.png">
      <p class="pb-3">
      Renewable energy developer Joseph Shovlin has successfully developed a portfolio of wind energy assets in the Irish market, and has immense experience originating renewables projects from concept to commercial operation and management. 
      </p>
      <p class="pb-3">
      He is now the co-founding CEO of <a href="https://dromoreenergy.com" class="bodylink">Dromore Energy</a>.
      </p>
      <p>
      He has developed 250MW wind now under management in Ireland, and amassed a development pipeline of more than 600 MWH of energy storage assets in response to the Irish market's need for grid balancing. Joseph started his career as a licensed accountant at PwC.
      </p>
    </ItemCEO>
  </div>

  <div id="content2" class="content col-span-2 hidden grid-cols-1 md:grid-cols-2 gap-x-4 md:gap-y-16 gap-y-6 max-md:mt-8">
    <div class="flex flex-col gap-8">
      <ItemCompany name="Lockchain" image="companies/lockchain.jpg">
      <p class="font-medium text-black pb-2">AI-powered risk management for blockchain.</p>
      <p class="pb-2">For institutional firms to invest in digital assets, there must be a way to navigate and react to risks in the space — and there are many. 
      </p>
      <p class="">
      Launched in partnership with veteran cyber security CEO <a href="https://www.linkedin.com/in/ahow/" class="bodylink">Andrew Howard</a>, Lockchain has built a breakthrough proprietary data model powered by AI. It enables any financial institution, analyst, or trader to monitor risks across the entire crypto ecosystem, and set up notifications and automations based on those events.</p>
      </ItemCompany>
      <ItemCompany name="Hatz" image="companies/hatz.png">
      <p class="pb-3">As small businesses begin increasingly to turn to their IT providers for help adopting new AI and LLM technologies into their workflows, Hatz is a multi-product platform that allows these same IT providers to become AI providers themselves.</p>
      <p class="pb-3">Operated by CEO <a href="https://www.linkedin.com/in/hatzell/" class="bodylink">Jimmy Hatzell</a>, Hatz is powered by an LLM Ops engine called Mido, and allows for mult-tenant management through an MSP administration dashboard. Partner MSPs can quickly add Hatz to their offering to manage AI as a service to their clients.</p>
      </ItemCompany>
    </div>
    <div class="flex flex-col gap-8">
      <ItemCompany name="Dromore Energy" image="companies/dromore.png" class="min-h-48">
        <p class="pb-3">Canada is tracking behind both the United States and Europe in renewable energy developments, a gap most apparent in Alberta. The deregulated electricity market in the province leaves a great opportunity to originate, build, own, and operate utility-scale assets in the region.</p>
        <p class="">
        Dromore Energy has already reached significant scale with more developments in the pipeline, with an aim to expand significantly in both Alberta and British Columbia. Powered by his experience developing more than 600MWH of energy storage assets in Ireland, CEO Joseph Shovlin is leading Dromore to be a leading renewable energy projects developer.
        </p>
      </ItemCompany>
    </div>
  </div>

  <div id="content3" class="content col-span-2 hidden grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-16 min-h-96">
    <ItemCompany name="Coming soon.">
      <p class="pb-3">As we have no shareholders or direct investors in Nadia Partners, this space will be host to letters we share with our friends, partners, and operating CEOs.</p>
    </ItemCompany>
  </div>

</Main>
