---
import Main from '../layouts/Main.astro';
import ItemCompany from '../components/ItemCompany.astro';
---
<Main>
  <div class="col-span-2 msnrygrid">
    <ItemCompany name="Lockchain" image="companies/lockchain.jpg">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCompany>
    <ItemCompany name="Dromore Energy" image="companies/dromore.png">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCompany>
    <ItemCompany name="Hatz" image="companies/hatz.png">
      <p class="">Launched in partnership with veteran cyber security CEO <a href="" class="bodylink">Andrew Howard</a>, Risk management for digital assets powered by a breakthrough proprietary data model.</p>
    </ItemCompany>
  </div>

</Main>
