<header class="flex flex-row w-full items-center justify-center">
  <nav class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-6xl m-5 pb-8 md:pb-20 border-b border-neutral-200">
    <div class="max-md:hidden col-start-2 col-span-1 pb-60 opacity-50">
      Updated March 1, 2024
    </div>
    <div class="col-start-1 flex flex-col justify-between items-left max-md:mt-40">
      <a href="/"><img src="nadia-black.svg" alt="Nadia Partners logo" class="h-16 mr-auto max-md:mb-20" /></a>
      <div class="text-black text-3xl leading-[1.0] font-medium tracking-[-0.03em]">Nadia <br />Partners</div>
    </div>
    <div class="flex flex-col gap-3 leading-[1.4] md:pr-8 max-md:mt-12">
      <p>
      <span class="text-black font-medium">Nadia Partners</span> creates companies alongside extraordinary CEOs. 
      </p>
      <p>
      We have no investors — only founders.
      </p>
      <p>
      The firm focuses on major tailwinds in technology and energy:
      </p>
      <p class="ml-4">
      <span class="text-black font-medium">AI</span>, in particular products and companies that previously would have relied on proprietary data processing but can now benefit from commoditized language models.
      </p>
      <p class="ml-4">
      <span class="text-black font-medium">Decarbonization</span>, in particular energy projects that can grow to massive scale and serve as solutions for existing infrastructure.
      </p>
      <p>
      We work directly with relentlessly energetic CEOs to grow the companies under our umbrella. We believe the greatest executives and companies are a result of tenacity, intensity, and singular intuition.
      </p>
    </div>
    <div class="md:max-lg:col-start-2 max-lg:mt-6">
      <p>
      Get in touch:
      </p>
      <a class="bodylink ml-4" href="mailto:a@nadiapartners.com">lisa@nadiapartners.com</a>
      <p class="mt-4">
      Keep up with us on:
      </p>
      <a class="bodylink ml-4" href="https://www.linkedin.com/company/nadia-partners/">LinkedIn</a>
      <p class="mt-4">
      The partners:
      </p>
      <a class="bodylink ml-4" href="https://www.linkedin.com/in/aidankehoe/">Aidan Kehoe</a>, <a class="bodylink" href="https://www.linkedin.com/in/halpinjohn">John Halpin</a>, <a class="bodylink" href="https://www.linkedin.com/in/jack-o-connell-02146017">Jack O'Connell</a>
      <p class="mt-4">
      Read the letters:
      </p>
      <a class="bodylink ml-4" href="/2024-04-09">An Introduction (April 9, 2024)</a>
    </div>
  </nav>
</header>
