<header>
  <nav class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto p-5 border-b pb-20 border-neutral-200">
    <div class="col-start-2 col-span-1 pb-40">
      Our partnership's letters:
      <a href="/letters" class="bodylink">Latest</a>, <a href="/letters" class="bodylink">Archive</a>
    </div>
    <div class="col-start-1 flex flex-col justify-between items-left">
      <img src="nadia-black.svg" alt="Nadia Partners logo" class="h-16 mr-auto" />
      <div class="text-black text-3xl leading-[1.0] font-medium tracking-[-0.03em]">Nadia <br />Partners</div>
    </div>
    <div class="flex flex-col gap-3 leading-[1.4] md:pr-8">
      <p>
      <span class="text-black font-medium">Nadia Partners</span> creates tight-knit units of catalyst people spawning companies. We have no investors — only founders.
      </p>
      <p>
      The firm focuses on major tailwinds in technology and energy:
      </p>
      <p class="ml-4">
      <span class="text-black font-medium">AI</span>, in particular products and companies that previously would have relied on proprietary data processing but can now benefit from commoditized language models.
      </p>
      <p class="ml-4">
      <span class="text-black font-medium">Decarbonization</span>, in particular products and companies that previously would have relied on proprietary data processing but can now benefit from commoditized language models.
      </p>
      <p>
      We find the most talented people who have years of experience in their industry and maintain a contagious energy to build breakthrough companies.
      </p>
    </div>
    <div class="">
      <p>
      Get in touch:
      </p>
      <a class="bodylink ml-4" href="mailto:a@nadiapartners.com">a@nadiapartners.com</a>
      <p class="mt-4">
      Keep up with us on:
      </p>
      <a class="bodylink ml-4" href="https://www.linkedin.com/company/nadia-partners/">LinkedIn</a>, <a class="bodylink" href="https://twitter.com/nadiapartners">X</a>
      <p class="mt-4">
      The partners:
      </p>
      <a class="bodylink ml-4" href="https://www.linkedin.com/company/nadia-partners/">Aidan Kehoe</a>, <a class="bodylink" href="https://www.linkedin.com/company/nadia-partners/">John Halpin</a>, <a class="bodylink" href="https://www.linkedin.com/company/nadia-partners/">Jack O'Connell</a>
    </div>
  </nav>
</header>
