---
const { name, portrait, icon, class:className } = Astro.props;
---

<div class={className}>
  <div class="flex flex-row items-start gap-[-8px] pb-4">
    <img class="z-10 h-24 rounded-full mt-4" src={portrait} />
    <img class="-translate-x-4 h-16 rounded-full mt-4" src={icon} />
  </div>
  <p class="text-black font-medium mb-2">{name}</p>
  <slot />
</div>
